// Конфігруація маски, виділяємо знайдений фрагмент
.v-combobox__mask,
.v-autocomplete__mask {
  background: rgb(var(--v-theme-selected)) !important;
  color: #fff;
}

// Відступ в слотах v-list-item по замовчуванню
.v-list-item__prepend,
.v-list-item__append {
  .v-list-item__spacer {
    width: 8px !important;
  }
}

// Колір v-icon та v-btn однаковий по замовчуванню
.slon-default-icon {
  color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity)) !important;
  opacity: unset !important;
}
